<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <link rel="stylesheet" href="./estiloslac.css">
   <link
   rel="stylesheet"
   href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css"/>
    <title>Mercadona Lacteos</title>
  
  </head>
  <body class="complete" background="img/back2.jpg" style="background-repeat: 
        no-repeat; background-position: center down;">

<!--MINI-BANNER-->
<div class="active">
    <img class="d-block w-100" src="./imagenes/ban1c.jpg" alt="First slide">
  </div>

<!--NAVBAR PRINCIPAL-->
<nav class="navbar navbar-expand-lg navbar-dark musgo">
  <a class="navbar-brand" href="home.html"><b>Mercadona &copy</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="home.html">Home</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="Panaderia.html">Panaderia</a>
      </li>
            <li class="nav-item active">
            <a class="nav-link" href="#"><b>Categorias</b> <span class="sr-only">(current)</span></a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="#">Contacto</a>
      </li>
          <li class="nav-item">
        <a class="nav-link" href="#"><i>Acerca de</i></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="Buscar" placeholder="Buscar" aria-label="Buscar">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>

<!--NAVBAR CATEGORIAS-->
<nav class="navbar navbar-expand-lg navbar-light negro bg-light ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><b>Lacteos</b><span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#">Abarrotes</a>
      </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Panaderia y Pasteleria</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Bebidas Analcoholicas <span class="sr-only">(current)</span></a>
  </li>
            <li class="nav-item">
        <a class="nav-link" href="#">Snacks y Golosinas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Productos Frescos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Bebidas Alcoholicas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Aseo y Limpieza</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Para Mascotas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Refrigerados</a>
      </li>
      
    </ul>
  </div>
</nav>


<div class="container">
    <br>
<h3>Productos Lacteos</h3>
<br>

  <div class="col d-flex justify-content-center">
    <div class="row center row-cols-1 row-cols-md-2">
      <div class="col mb-4">
        <div class="card" style="width: 20rem;">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="./imagenes/lacteos/lechepil.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title font-weight-bold"><a>Leche Pil</a></h5>
                <p class="mb-2">946 ml.</p>
                <hr class="my-3" />
                <p class="lead"><strong>8 Bol.</strong></p>
                <a href="#!" class="btn btn-outline-success p-md-1 mb-0">Comprar</a>
              </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card" style="width: 20rem;">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="./imagenes/lacteos/dulceleche.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title font-weight-bold"><a>Dulce de Leche Pil</a></h5>
                <p class="mb-2">1km trilaminado</p>
                <hr class="my-3" />
                <p class="lead"><strong>28 Bol.</strong></p>
                <a href="#!" class="btn btn-outline-success p-md-1 mb-0">Comprar</a>
              </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card" style="width: 20rem;">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="./imagenes/lacteos/lechedeslac.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title font-weight-bold"><a>Leche Deslactosada Pil</a></h5>
                <p class="mb-2">800 ml</p>
                <hr class="my-3" />
                <p class="lead"><strong>7 Bol.</strong></p>
                <a href="#!" class="btn btn-outline-success p-md-1 mb-0">Comprar</a>
              </div>
        </div>
      </div>
    </div></div>

<br>
<br>

    <div class="col d-flex justify-content-center">
        <div class="row center row-cols-1 row-cols-md-2">
          <div class="col mb-4">
            <div class="card" style="width: 20rem;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="./imagenes/lacteos/lechecondensa.jpg" class="img-fluid" />
                    <a href="#!">
                      <div class="mask"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title font-weight-bold"><a>Leche Condensada Pil</a></h5>
                    <p class="mb-2">397 gr.</p>
                    <hr class="my-3" />
                    <p class="lead"><strong>11 Bol.</strong></p>
                    <a href="#!" class="btn btn-outline-success p-md-1 mb-0">Comprar</a>
                  </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card" style="width: 20rem;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="./imagenes/lacteos/bonle.jpg" class="img-fluid" />
                    <a href="#!">
                      <div class="mask"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title font-weight-bold"><a>Yogurt Bonle Durazno</a></h5>
                    <p class="mb-2">Bebida Lactea 940ml.</p>
                    <hr class="my-3" />
                    <p class="lead"><strong>10 Bol.</strong></p>
                    <a href="#!" class="btn btn-outline-success p-md-1 mb-0">Comprar</a>
                  </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card" style="width: 20rem;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="./imagenes/lacteos/lechechoco.jpg" class="img-fluid" />
                    <a href="#!">
                      <div class="mask"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title font-weight-bold"><a>Dulce Chocolatada Delizia</a></h5>
                    <p class="mb-2">946 ml.</p>
                    <hr class="my-3" />
                    <p class="lead"><strong>8 Bol.</strong></p>
                    <a href="#!" class="btn btn-outline-success p-md-1 mb-0">Comprar</a>
                  </div>
            </div>
          </div>
        </div></div>




</div>




<br>
<div class="center">
<div class="jumbotron center">
  <h1 class="display-4" id="titulo1">Supermercados Mercadona</h1>
  <p class="lead" id="descripcion1">Venta de productos, porductos lacteos, gaseosas, snacks, abarrotes, pasteles y mas productos se pueden comprar desde su supermercado Mercadona</p>
  <hr class="my-4">
  <p>Buscanos y contactate con nosotros </p>
  <div class="container">
      <a href="#" class="icons facebook">
        <span class="imgs">
          <i class="fab fa-facebook-f"></i>
        </span>
      </a>
      <a href="#" class="icons twitter">
        <span class="imgs">
          <i class="fab fa-twitter"></i>
        </span>
      </a>
      <a href="#" class="icons instagram">
        <span class="imgs">
          <i class="fab fa-instagram"></i>
        </span>
      </a>
      <a href="#" class="icons github">
        <span class="imgs">
          <i class="fab fa-github"></i>
        </span>
      </a>
      <a href="#" class="icons youtube">
        <span class="imgs">
          <i class="fab fa-youtube"></i>
        </span>
      </a>
    </div>
</div>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>